:root {
	/*--b: #212432;*/
	/*--p: #292D3E;*/

	--b: #2D2D2D;
	--p: #353535;

	/*--p: #232D3B;*/
	/*--b: #1D2632;*/
	--font: darkgray;
}

.container {
	background-color: var(--b);
}
.nav {
	background-color: var(--p);
}
.fa {
	color: var(--font);
}
.header {
	background-color: var(--p);
}
.box {
	background-color: var(--p);
	overflow: hidden;
}
.list::-webkit-scrollbar-track {
	background-color: var(--f);
}

