:root {
	--white: white;
	--shadow: 5px 5px 10px 1px rgba(211, 211, 211, .7);
}

.container {
	background-color: var(--background);
}
.nav {
	background-color: var(--white);
	box-shadow: 5px 5px 10px 1px rgba(211, 211, 211, .7);
}
.fa {
	color: var(--font);
}
.header {
	background-color: var(--white);
	box-shadow: 15px 5px 10px 1px rgba(211, 211, 211, .7);
}
.box {
	background-color: var(--white);
	overflow: hidden;
	box-shadow: var(--shadow);
}
.list::-webkit-scrollbar-track{
	background-color: var(--background);
} 
