@import url('fontawesome.min.css');
@import url('solid.min.css');

*, *::before, *::after {
	margin: 0;
	padding: 0;
}
:root 
{
	--primary: #D15B57;
	--secondary: #3E4B5C;
	--info: #4285F4;
	--warning: #FBBC05;
	--danger: #EA4335;
	--success: #34A853;
	--light: lightgray;
	--dark: darkgray;
	--white: #ffffff;
	--background: #f6f2ed;
	--font: #2D2D2D;
	--border: 1px solid lightgray;
	--shadow: 5px 5px 10px 1px rgba(211, 211, 211, .7);
	--shadow-primary: 5px 5px 10px .1px rgba(209, 91, 87, .5);
}
body
{
	position: relative;
	display: flex;
	justify-content: center;
	width: 100vw;
	background-color: white;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}
.container 
{
	width: 100vw;
  min-height: 100vh;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}
.container .main
{
  position: relative;
  width: 100vw;
	height: calc(100vh - 60px);
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.btn
{
	cursor: pointer;
	outline: none;
	border: 0px;
	text-decoration: none;
}
.btn-primary
{
	background-color: var(--primary);
}
.input
{
	outline: none;
	text-indent: 15px;
}
.center
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.center-column
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.center-column-evenly
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.btn
{
	text-decoration: none;
	cursor: pointer;
}
.flat
{
	border: 0px;
	outline: none;
}
.start-start
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.wrapper
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
p
{
	font-family: 'Times New Roman';
	color: var(--font);
	text-align: justify;
}
.list
{
	list-style: none;
	display: flex;
}
.list-column
{
	list-style: none;
	display: flex;
	flex-direction: column;
}
.link
{
	text-decoration: none;
	cursor: pointer;
}

@media screen and (min-width: 426px)
{
	.container .main
	{
	  width: calc(100vw - 60px);
		height: 100vh;
		margin-left: 55px;
	}
}