.container 
	background-color: var(--background)

.nav 
	background-color: var(--contrast)
	box-shadow: var(--shadow)

.fa 
	color: var(--font)

	&-star-info
		color: var(--info)

	&-star-success
		color: var(--success)

	&-star-warning
		color: var(--warning)

	&-star-danger
		color: var(--danger)


.header 
	background-color: var(--contrast)
	box-shadow: 15px 5px 10px 1px rgba(211, 211, 211, .7)

.box 
	background-color: var(--contrast)
	overflow: hidden
	box-shadow: var(--shadow)
 
.list::-webkit-scrollbar-track
	background-color: var(--background)

.list-column::-webkit-scrollbar-thumb
	background-color: var(--primary)
 
.list-column::-webkit-scrollbar-track
	background-color: var(--background)
 
.font
	color: var(--font)

